.header {
    background-color: rgb(8, 130, 151);
    display: flex;
    justify-content: space-evenly;
    
    height: 3em;

}

a {
    color: rgb(212, 199, 199);
    padding-top: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    border: 0.5em;
    border-color: black;
    margin-top: 75px;
}

.cards {
    
    width: 29%;
    height: 40%;
    box-shadow: 5px 5px 8px 4px #ccc;
    border: 1px solid lightblue;
    margin-bottom: 75px;
    text-align: center;
}



h2 {
    border: 1px solid lightblue;
    height: 2em;
    color: brown;
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 0.5em;
    padding-bottom: 0;
    font-family: 'Slabo 27px', serif;
    font-weight:lighter;
    
}

img {
    height: 200px;
    width: 95%;
    align-items: center;
}

p {
    margin: 0 5px 5px 5px;
    text-align: justify;
}

h3 {
    background-color:rgb(124, 121, 121);
    color: rgb(248, 247, 153);
    text-align: justify;
}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.size {
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 0;
    
}

.weight {
    font-size: 0.75em;
    font-weight: bold;
    
}

.spec_footer {
    text-align: justify;
    font-size: 0.4em;
}

.pricing  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    
}

.price {
    font-size: 0.7em;
    font-weight:bold
}

.footer {
    background-color: rgb(8, 130, 151);
    display: flex;
    justify-content: space-evenly;
    position:relative;
    bottom: 0;
    height: 3em;
    width: 100%;
}

