.header {
    background: #0288D1;
    display: flex;
    justify-content: space-evenly;
    
    height: 3em;

}

a {
    color: #212121;
    padding-top: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    border: 0.5em;
    border-color: black;
    padding-top: 75px;
    background: #03A9F4;
}

.cards {
    
    width: 29%;
    height: 40%;
    box-shadow: 5px 5px 8px 4px #fff;
    border: 1px solid #BDBDBD;;
    margin-bottom: 75px;
    text-align: center;
    background: #B3E5FC;
}



h2 {
    border: 1px solid #BDBDBD;;
    height: 2em;
    color: #212121;
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 0.5em;
    padding-bottom: 0;
    font-family: 'Slabo 27px', serif;
    font-weight:lighter;
    background: #4CAF50;
    
}

img {
    height: 200px;
    width: 95%;
    align-items: center;
}

p {
    margin: 0 5px 5px 5px;
    text-align: justify;
    color: #212121;

}

h3 {
    color: #FFFFFF;
    background: #4CAF50;
    text-align: justify;

}

.specs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #757575;
}

.spec_header {
    color: #FFFFFF;
}
.size {
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 0;
    
}

.weight {
    font-size: 0.75em;
    font-weight: bold;
    
}

.spec_footer {
    text-align: justify;
    font-size: 0.4em;
    font-family: 'Caveat', cursive;
    color: #212121;
}

.pricing  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFFFFF;
    
    
}

.price {
    font-size: 0.7em;
    font-weight:bold
}

.footer {
    background: #0288D1;
    display: flex;
    justify-content: space-evenly;
    position:relative;
    bottom: 0;
    height: 3em;
    width: 100%;
}

